[Unit]
Description=Shoko Server
After=network.target

[Service]
User=shoko
Group=shoko
Type=simple
ExecStart=/opt/shoko/publish/Shoko.CLI
WorkingDirectory=/opt/shoko/publish
Restart=always

[Install]
WantedBy=multi-user.target
